<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>2</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-06-27 06:29:28 +0000</string>
	<key>Creator</key>
	<string>Ross Kukulinski</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>4048</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPoint</key>
			<string>{0, 0}</string>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{462, 178}</string>
				<string>{543, 178}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>2933</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{45, 354.61901171875002}</string>
				<string>{287.42500000000001, 354.61901171875002}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>HeadScale</key>
					<real>0.85714292526245117</real>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>33840</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{287.42500000000001, 372.75201171875005}</string>
				<string>{45, 372.75201171875005}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
					<key>HeadArrow</key>
					<string>SharpArrow</string>
					<key>HeadScale</key>
					<real>0.85714292526245117</real>
					<key>Join</key>
					<integer>0</integer>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{68, 285.5000012207031}, {242.42500000000001, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>36462</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>width</key>
				<real>18</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{476, 476.66001123046874}, {242.42500000000001, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36461</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>width</key>
				<real>18</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.998734</string>
						<key>g</key>
						<string>0.800366</string>
						<key>r</key>
						<string>0.398474</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>24703</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Points</key>
			<array>
				<string>{623, 390.06201171875}</string>
				<string>{642.65750000000003, 404.32201171874999}</string>
				<string>{685.20249999999999, 404.32201171874999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.796079</string>
						<key>r</key>
						<string>0.384314</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.7000001668930054</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{425, 394.06201171875}, {28, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{98.180496215820312, 469.06201171875}, {115, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>133</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Magnets</key>
			<array>
				<string>{0.00144148, 0.46506500000000001}</string>
				<string>{0.00479555, -0.43013099999999999}</string>
				<string>{0.48993900000000001, 0}</string>
				<string>{-0.48993900000000001, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>4</real>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Draws</key>
					<string>NO</string>
					<key>Join</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{449.49600000000009, 285.5000117187501}, {26.999700000000001, 51.206299999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4047</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36474</integer>
					<key>Points</key>
					<array>
						<string>{473.07718876535398, 157.14778984189314}</string>
						<string>{260.27124655825025, 157.1477898418928}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36475</integer>
					<key>Points</key>
					<array>
						<string>{260.27124655825003, 134.3288765942176}</string>
						<string>{473.07718876535415, 134.3288765942188}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>36473</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>180</real>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36471</integer>
					<key>Points</key>
					<array>
						<string>{198.37998369406498, 192.45013726079594}</string>
						<string>{348.85651564328566, 342.92664917285583}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36472</integer>
					<key>Points</key>
					<array>
						<string>{332.72110949510608, 359.0620574695937}</string>
						<string>{182.24457754588602, 208.58554555753403}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>36470</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>44.999996185302734</real>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36468</integer>
					<key>Points</key>
					<array>
						<string>{573.75542613347056, 209.03045431775769}</string>
						<string>{423.27889418424962, 359.50698626697823}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>15</real>
					</dict>
					<key>ID</key>
					<integer>36469</integer>
					<key>Points</key>
					<array>
						<string>{407.14348588751079, 343.37157797024093}</string>
						<string>{557.62001783673168, 192.89504602102051}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.998734</string>
								<key>g</key>
								<string>0.800366</string>
								<key>r</key>
								<string>0.398474</string>
							</dict>
							<key>HeadArrow</key>
							<string>SharpArrow</string>
							<key>HeadScale</key>
							<real>0.85714292526245117</real>
							<key>Join</key>
							<integer>0</integer>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>36467</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>135</real>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{554.17362400194929, 114.85426333007814}, {96.56075687878851, 59.984684944738461}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36477</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>PowerBook G4</string>
			</dict>
			<key>Magnets</key>
			<array>
				<string>{-0.00236988, 0.45993600000000001}</string>
				<string>{-0.00375319, -0.48474299999999998}</string>
				<string>{0.39391599999999999, 0.0082683600000000006}</string>
				<string>{-0.39328099999999999, 0.0201969}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.4399999999999999, 1.4399999999999999}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{329.27470453980953, 378.16102125643323}, {96.56075687878851, 59.984684944738461}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36476</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>PowerBook G4</string>
			</dict>
			<key>Magnets</key>
			<array>
				<string>{-0.00236988, 0.45993600000000001}</string>
				<string>{-0.00375319, -0.48474299999999998}</string>
				<string>{0.39391599999999999, 0.0082683600000000006}</string>
				<string>{-0.39328099999999999, 0.0201969}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.4399999999999999, 1.4399999999999999}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{105.26563088073716, 114.85426333007814}, {96.56075687878851, 59.984684944738461}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3944</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>PowerBook G4</string>
			</dict>
			<key>Magnets</key>
			<array>
				<string>{-0.00236988, 0.45993600000000001}</string>
				<string>{-0.00375319, -0.48474299999999998}</string>
				<string>{0.39391599999999999, 0.0082683600000000006}</string>
				<string>{-0.39328099999999999, 0.0201969}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.4399999999999999, 1.4399999999999999}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.pdf</string>
		<string>image6.pdf</string>
		<string>image3.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 3</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-06-27 06:49:24 +0000</string>
	<key>Modifier</key>
	<string>Ross Kukulinski</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{-0, 80}, {1167, 789}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-138, -48}, {1032, 650}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
